<!-- Kendo dialog start -->
<div class="example-wrapper">
    <kendo-dialog title="{{ 'FiberType' | translate }}" (close)="onCloseFiberType(false)" [width]="850"
        class="k-dialog-wrapper">
        <!-- form body start -->
        <form [formGroup]="fiberType">
            <fieldset class="k-form-fieldset mb-2 p-2">
                <div class="form-row">
                    <!-- <div class="col-md-6">
                        <kendo-formfield 
                            class="required">
                            <kendo-label for="id" text="{{ 'id' | translate }}"></kendo-label>
                            <input formControlName="id" class="form-control" type="text" kendoTextBox #id />
                        </kendo-formfield>
                    </div> -->
                    <div class="col-md-6">
                        <kendo-formfield 
                            class="required">
                            <kendo-label for="name" text="{{ 'Name' | translate }}"></kendo-label>
                            <input formControlName="name" class="form-control" maxlength="250" id="name"
                                type="text" #name kendoTextBox required />
                        </kendo-formfield>
                    </div>
                    <div class="col-md-6">
                        <kendo-formfield 
                            class="required">
                            <kendo-label for="contactDetail" text="{{ 'Contact Detail' | translate }}"></kendo-label>
                            <input formControlName="contactDetail" class="form-control" maxlength="250" id="name"
                                type="text" #contactDetail kendoTextBox required />
                        </kendo-formfield>
                    </div>
                    <div class="col-md-6">
                        <kendo-formfield 
                            class="required">
                            <kendo-label for="warehouseDetail" text="{{ 'Warehouse Detail' | translate }}"></kendo-label>
                            <input formControlName="warehouseDetail" class="form-control" maxlength="250" id="warehouseDetail"
                                type="text" #warehouseDetail kendoTextBox required />
                        </kendo-formfield>
                    </div>
                    <!-- <div class="col-md-6">
                        <kendo-formfield 
                            class="required">
                            <kendo-label for="status" text="{{ 'Status' | translate }}"></kendo-label>
                            <input formControlName="status" class="form-control" maxlength="250" id="status"
                                type="text" #status kendoTextBox required />
                        </kendo-formfield>
                    </div>
                    <div class="col-md-6">
                        <kendo-formfield 
                            class="required">
                            <kendo-label for="remark" text="{{ 'Remarks' | translate }}"></kendo-label>
                            <input formControlName="remark" class="form-control" maxlength="250" id="remark"
                                type="text" #remark kendoTextBox required />
                        </kendo-formfield>
                    </div> -->
                </div>
            </fieldset>
        </form>
        <!-- form body End -->
        <!-- form Button start -->
        <kendo-dialog-actions >
            <button kendoButton
                (click)="addFiberType()">{{ 'Save' | translate }}</button>
            <button kendoButton (click)="onCloseFiberType(false)"> {{ 'Cancel' | translate }} </button>
        </kendo-dialog-actions>
        <!-- form Button End -->
    </kendo-dialog>
</div>
<!-- Kendo dialog End -->